* {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    /* Remove as bordas do <body> */
    margin: 0;
    padding: 0;
}


/* definições laguna school */
h1 {
    color: rgb(22, 31, 51);
    font-size: xx-large;
    position: relative;
    top: -5%;
    font-weight: bolder;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    background-color: #081844;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {

    padding: 55px;
    height: 50%;
    width: 45%;
    background-image: linear-gradient(to top, #113263 20%, rgb(154, 177, 199) 80%);
    opacity: .9;
    /* position: absolute; */
    border-radius: 15px;
    left: 3cm;
    border: 3px;
    border-style: groove;
    margin-left: 5%;
}



#container {
    flex: left;

}


.typer {

    background-color: rgb(255, 255, 255);
    border: 0;
    opacity: .7;

    padding: 20px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;

    margin-top: 15px;
    cursor: pointer;
}

.typer:hover {
    animation: rot 1000ms infinite;
}

.senha {
    background-color: rgb(255, 255, 255);
    border: 0;
    opacity: .7;

    padding: 20px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;

    margin-top: 10px;
    cursor: pointer;
}

.senha:hover {
    animation: rot 1000ms infinite;
}





@keyframes rot {
    from {
        border-radius: 25px;
        border-bottom-left-radius: 0px;
    }

    50% {
        border-radius: 25px;
        border-top-right-radius: 0px;
    }

    to {
        border-radius: 25px;
        border-bottom-left-radius: 0px;
    }
}

#img-1 {
    position: absolute;
    height: 400px;
    width: 400px;
    bottom: 5%;
    top: 30%;
    left: 65%;

}

#img-2 {
    position: absolute;
    right: 67%;
    top: 40%;
    height: 200px;
    width: 200px;
}



.top {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 700px;
    height: 650px;
    background-color: rgb(102, 139, 173);
    border-top-left-radius: 100%;

    /* colocar o elemento no fundo */
    z-index: -5;

    /* cortar elementos que ultrapassam a pagina */
    overflow: hidden;

}

.top {
    width: 500px;
    height: 100px;
    opacity: .7;
    /* position: absolute; */

}

#circulo {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}





.logo {
    border-radius: 100%;
    height: 120px;
    width: 120px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.hyperlink {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    top: -45px;
    cursor: pointer;
    text-decoration: underline overline rgb(53, 39, 87);


}

.hyperlink2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    top: -45px;
    cursor: pointer;

}

.foto {
    width: 300px;
    height: auto;
    border-radius: 20px;
    position: absolute;
    top: 35%;
    right: 10%;
}

#container2 {
    margin-left: 50px;
}