
body {
    background-color: rgb(154, 240, 228);
}

input[type="file"] {
    display: none;
}

label[for="licao"] {
    background-color: slategrey;
    color: aliceblue;

    border: 0;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    text-align: center;

    width: 50%;
}

#comentarios {
    height: 100px;
    width: 50%;
    resize: none;
}

#envia-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
